/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

@font-face {
   font-family: roboto;
   src: asset-theme-url('font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: asset-theme-url('font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       asset-theme-url('font/MaterialIcons-Regular.woff2') format('woff2'),
       asset-theme-url('font/MaterialIcons-Regular.woff') format('woff'),
       asset-theme-url('font/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 60px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.orange600 { color: #FB8C00; }
#footer {
  background-color: #003354;
  padding-bottom: 50px;
  padding-top: 50px;
}
#footer p {
  color: white;
}
#footer a {
  color: white;
}
#footer h5 {
  color: white;
  padding-bottom: 20px;
  text-transform: uppercase;
}
#nav_bar {
  border-top-color: #348D45;
  border-top-width: 20px;
}
.nav_bar_title {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: -100px;
  margin-top: 0;
  margin-left: 110px;
  margin-right: 10px;
}
@media only screen and (max-width: 857px) {
  .nav_bar_menu {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #348D45;
  font-size: 1em;
  font-weight: 400;
}
@media (min-width: 768px) {
  .nav_bar_search {
    margin-top: 35px;
  }
}
.logo {
  display: block;
  margin-bottom: -110px;
  padding-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.icon_comment {
  max-width: 48px;
  border-radius: 50%
}
/* Bootstrap override */
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav {
  height: 64px;
  line-height: 60px;
}
nav ul a,
nav .brand-logo {
  color: white;
}
nav .brand-logo.title {
  left: 15%;
  transform: translateX(-50%);
  color: white;
}
nav ul a:hover {
  color: #aaa;
}
@media only screen and (max-width: 992px) {
  nav .brand-logo.title {
    display: none;
  }
}
a .title {
  margin-left: 100px;
}
ul .level-1 a {
  padding-left: 40px;
}
ul .level-2 a {
  padding-left: 60px;
}
ul .level-3 a {
  padding-left: 100px;
}
ul .admin {
  position: static;
  margin-right: 100px;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
/*
.icon-block .material-icons {
  font-size: inherit;
}
*/
.green {
  background-color: #348D45 !important;
}
.blue {
  background-color: #003354 !important;
}
.green-text {
  color: #348D45 !important;
}
h6 {
  font-size: 1.4rem;
}
body {
  font-family: roboto;
  font-size: 1.6em;
  color: #777;
  background-color: #fefefe;
}
a {
  color: #348D45;
}
.card {
  margin-right: 10px;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 96%;
}
.dropdown-menu > li {
  display: list-item;
  min-width: 160px;
}
.current_l {
  background-color: #348D45 !important;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 64px;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #348D45 !important;
  outline: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-large, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .btn-group > .btn-large, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-large:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn-large {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}
.breadcrumb:last-child {
  color: #ccc;
}
@media (min-width: 993px) {
  .navbar-form .input-group > .form-control {
    background-color: #43a047;
    color: white;
    line-height: 60px;
    margin-top: 6px;
    margin-right: 5px;
  }
  .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ddd;
  }
  .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    opacity: 1;
  }
  .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ddd;
  }
}
