<!-- footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div id="text-2" class="widget-wrapper widget_text">
          <%= raw current_theme.the_field("footer_left") %>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="text-3" class="widget-wrapper widget_text">
          <%= raw current_theme.the_field("footer_center") %>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="text-4" class="widget-wrapper widget_text">
          <%= raw current_theme.the_field("footer_right") %>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</footer>
<!-- end footer -->
