<br /><br />
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
   	    	<a href="<%= cama_root_path %>"><i class="material-icons">home</i></a> /
            <%= raw  breadcrumb %>
        </ol>
    </div>
</div>
