<!--   Banner3   -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light"><%= t('openportal.title_banner3') %></h4>
      </div>
      <div class="row center">
        <a href="https://10.202.101.80:9443/store/" id="download-button" class="btn-large waves-effect waves-light green"><%= t('openportal.button_text_banner3') %></a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/themes/openportal/assets/images/y.jpg" alt="Unsplashed background img 3"></div>
</div>
<!--   end Banner3   -->