<!--   Banner2   -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        <h4 class="header col s12 light"><%= t('openportal.title_banner2') %></h4>
      </div>
      <div class="row center">
        <a href="https://github.com/pachiara/alice" id="download-button" class="btn-large waves-effect waves-light green"><%= t('openportal.button_text_banner2') %></a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/themes/openportal/assets/images/z.jpg" alt="Unsplashed background img 2"></div>
</div>
<!--   end Banner2   -->