<!--   Banner1   -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text"><b><%= current_site.name %></b></h1>
      <div class="row center">
        <h4 class="header col s12 light"><%= t('openportal.title_banner1') %></h4>
      </div>
      <div class="row center">
        <a href="https://10.202.101.80:9443/store/" id="download-button" class="btn-large waves-effect waves-light green"><%= t('openportal.button_text_banner1') %></a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/themes/openportal/assets/images/x4.png" alt="Unsplashed background img 1"></div>
</div>
<!--   end Banner1   -->
